header {
    grid-area: header;
    height: auto;
}

div#inv {
    display: flex;
    flex-direction: row;
    min-height: 300px;
    max-height: 700px;
}/*
<a href="" class="any" target="_blank"></a>
<div style="min-height: 350px; height: 40vw; width: 100%; margin: 20px; background: url('../../../images/6.7/image--000.jpg') center no-repeat; background-size: contain;"></div>
style="width: 100%; height: 50vw;"
*/
div#schl-image {
    width: 50%;
    margin-right: 0;
    background: url("../images/school.png") no-repeat center;
    background-size: contain;
    border-top: none;
    border-left: none;
    border-bottom: none;
}

div#header-inf {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    max-width: 600px;
    max-height: 60%;
    margin: 5px auto;
    border: none;
}

p.hd-inf {
    height: 50%;
    margin: 1px;
    padding: 3px;
    font-size: 110%;
    text-align: center;
    border-left: none;
    border-right: none;
}

nav {
    height: minmax(400px 600%);
    background-color: #5058BB;
    color: white;
}

ul#mm-new {
    display: flex;
    margin: 0px auto;
    width: auto;
    flex-direction: row;
    padding: 0;
}

ul#main-menu {
    margin: 0px auto;
    width: 99%;
    display: none;
    padding: 0;
    flex-wrap: wrap;
    border: 0;
    list-style-type: circle;
}


li.mm-point {
    text-align: left;
    margin: 0px auto;
    padding: 5px 25px;
    min-height: 40px;
    max-height: 10%;
    width: calc(100% - 50px);
    border: 1px solid #ffffff;
    transition: background-color 0.2s linear;
    display: flex;
    align-items: center;
    user-select: none;
}

li.mm-point:hover {
    background-color: #ffffff;
    transition: all 0.2s linear;
    cursor: pointer;
    color: black;
}

ul.dm {
    display: none;
    margin: 10px 25px;
    width: calc(100% - 60px);
    list-style: decimal;
}

li.drop-item {
    padding: 10px 15px;
    width: auto;
    background-blend-mode: multiply;
    transition: background-color 0.2s linear;
}

li.drop-item {
    transition: all 0.2s linear;
    cursor: pointer;
    color: white;
}

li.drop-item:hover {
    background-color: #ffffff;
    transition: all 0.2s linear;
    color: black;
}
a.nav-link {
    width: calc(100% - 2px);
    color: white;
}
a.nav-link:link, a.nav-link:visited{
    text-decoration: none;
}

.new-link, .new-link:visited, .new-link:link {
    color: white; 
    text-decoration: none; 
    width: 100%; 
    height: 100%;
    display: flex;
    align-items: center;
    user-select: none;
}
.new-link:hover {
    transition: all 0.2s linear;
    color: black;
}
/*----------------Media queries----------------*/

@media all and (max-width: 1000px) {
    div#inv {
        flex-direction: column;
    }

    div#schl-image {
        width: 95%;
        height: 250px;
        margin: 5px auto;
        background: url("../images/school.png") no-repeat center;
        background-size: contain;
    }
}