body {
    margin: 0;
	/*background: rgba(255,255,0,1);
	background: -moz-linear-gradient(left, rgba(255,255,0,1) 0%, rgba(240,47,23,1) 0%, rgba(255,255,0,1) 0%, rgba(123,255,0,1) 100%);
	background: -webkit-linear-gradient(left, rgba(255,255,0,1) 0%, rgba(240,47,23,1) 0%, rgba(255,255,0,1) 0%, rgba(123,255,0,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,0,1) 0%, rgba(240,47,23,1) 0%, rgba(255,255,0,1) 0%, rgba(123,255,0,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,0,1) 0%, rgba(240,47,23,1) 0%, rgba(255,255,0,1) 0%, rgba(123,255,0,1) 100%);
	background: linear-gradient(to bottom left,  #ffe53187 40%, rgba(159, 255, 69, 0.5) 100%);
	*/color: black;
	background-color: #CBCBCB;
}

.grid-item {
	border: 1px solid black;
}
div#wrapper {
	display: grid;
	background-color: #ffffff6b;
	background-blend-mode: multiply;
	grid-template-areas: 
	"header"
	"content";
	grid-template-rows: auto auto;
	grid-template-columns: 1fr;
	max-width: 1100px;
	margin: 0 auto;
	font-size: 21px; 
}
